<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dev" class="org.example.Dev" autowire="byType"> </bean>
    <bean id="com" class="org.example.Laptop" primary="true"> </bean>
    <bean id="desk1" class="org.example.Desktop"> </bean>
</beans>
